{{ define "main" }} <!-- https://gist.github.com/eddiewebb/735feb48f50f0ddd65ae5606a1cb41ae -->

<div class="search">
    <header>
        <h1>{{ .Title }}</h1>
        {{/* partial "debugprint.html" (.Site.GetPage "page" "search") */}}
    </header>

    <form action="{{ .Permalink }}">
        <input id="search-query" name="q"/>
    </form>
    <hr />

    <div id="search-results"></div>
</div>

<script id="search-result-template" type="text/x-js-template"><div id="summary-${key}">
        <h2 class="post-title no-text-decoration"><a href="${link}">${title}</a></h2>
        <p><em>${snippet}&hellip;</em></p>
        <small>
            <table>
                ${ isset tags }<tr><td><strong>Tags</strong></td><td>${tags}</td></tr>${ end }
                ${ isset categories }<tr><td><strong>Categories</strong></td><td>${categories}</td></tr>${ end }
            </table>
        </small>
    </div></script>
{{ end }}

{{ define "footer" }}
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script> -->
<script src="{{ partial "asset.html" (dict "Site" .Site "asset" "js/libs/jquery/3.3.1/jquery.min.js") }}"></script>
<script src="{{ partial "asset.html" (dict "Site" .Site "asset" "js/libs/fuse.js/3.2.0/fuse.min.js") }}"></script>
<script src="{{ partial "asset.html" (dict "Site" .Site "asset" "js/libs/mark.js/8.11.1/jquery.mark.min.js") }}"></script>
<script src="{{ partial "asset.html" (dict "Site" .Site "asset" "js/search.js") }}"></script>
{{ end }}
