<!-- https://gist.github.com/carlmjohnson/e3716a0a89fab0484d0552a750c8cfb7 -->
{{ range .Site.Params.custom_css }}
    {{ $asset := . }}
    {{ if $.Site.Params.css_lazy_load }} <!-- If CSS lazy loading is enabled -->
        {{ with $.Site.Data.assets }}
            {{ if $.Site.Params.cache_busting }}
                {{ if in (string .Site.BaseURL) "localhost" }}
                    <link href="{{ $asset | relURL }}" rel="preload" as="style" onload="this.rel='stylesheet'">
                    <noscript><link rel="stylesheet" href="{{ $asset | relURL }}"></noscript>
                {{ else }}
                    <link href="{{ (index . $asset) | relURL }}" rel="preload" as="style" onload="this.rel='stylesheet'">
                    <noscript><link rel="stylesheet" href="{{ (index . $asset) | relURL }}"></noscript>
                {{ end }}
            {{ else if $.Site.Params.cache_busting_debug }}
                <link href="{{ (index . $asset) | relURL }}" rel="preload" as="style" onload="this.rel='stylesheet'">
                <noscript><link rel="stylesheet" href="{{ (index . $asset) | relURL }}"></noscript>
            {{ else }}
                <link href="{{ $asset | relURL }}" rel="preload" as="style" onload="this.rel='stylesheet'">
                <noscript><link rel="stylesheet" href="{{ $asset | relURL }}"></noscript>
            {{ end }}
        {{ else }}
            <link href="{{ $asset | relURL }}" rel="preload" as="style" onload="this.rel='stylesheet'">
            <noscript><link rel="stylesheet" href="{{ $asset | relURL }}"></noscript>
        {{ end }}
    {{ else }}                  <!-- If CSS lazy loading is disabled (default) -->
        {{ with $.Site.Data.assets }}
            {{ if $.Site.Params.cache_busting }}
                {{ if in (string .Site.BaseURL) "localhost" }}
                    <link rel="stylesheet" href="{{ $asset | relURL }}">
                {{ else }}
                    <link rel="stylesheet" href="{{ (index . $asset) | relURL }}">
                {{ end }}
            {{ else if $.Site.Params.cache_busting_debug }}
                <link rel="stylesheet" href="{{ (index . $asset) | relURL }}">
            {{ else }}
                <link rel="stylesheet" href="{{ $asset | relURL }}">
            {{ end }}
        {{ else }}
            <link rel="stylesheet" href="{{ $asset | relURL }}">
        {{ end }}
    {{ end }}
{{ end }}
