{{ $badge_width := 80 }}
{{ $badge_height := 15 }}
{{ $permalink := .Permalink }}
{{ $site := .Site }}
<div class="badges no-text-decoration">
    <!-- Indieweb badges -->
    {{ with .Site.Params.indieweb }}
        <a href="https://indieweb.org/">
            <img src="{{ (partial "asset.html" (dict "Site" $site "asset" "images/indieweb-badge--optimized.png")) | absURL }}"
                 width="{{ $badge_width }}" height={{ $badge_height }}
                 alt="IndieWebCamp" class="pixelated">
        </a>

        {{ $mf2_parser_link := printf "https://pin13.net/mf2/?url=%s" $permalink }}
        <span class="nobr">
            <a href="{{ $mf2_parser_link }}">
                <!-- Source: https://aaronparecki.com/2017/12/30/7/indieweb-badge Thanks to Aaron Parecki. -->
                <!-- Aaron: "Remember to add class="pixelated to the img tag
                     so that when the badge is viewed on high-resolution displays, it will
                     retain the pixelated look instead of make it blurry when it scales up!"

                     Though, that is needed only for PNG images, not SVG.
                -->
                <img src="{{ (partial "asset.html" (dict "Site" $site "asset" "images/microformats-badge--optimized.png")) | absURL }}"
                     width="{{ $badge_width }}" height={{ $badge_height }}
                     alt="Microformats2" class="pixelated"></a>
                {{- printf `<a href="http://microformats.org/about">?</a>` | safeHTML }}
        </span>

        {{ with .webmention }}
            <a href="https://indieweb.org/Webmention">
                <img src="{{ (partial "asset.html" (dict "Site" $site "asset" "images/webmention-badge--optimized.png")) | absURL }}"
                     width={{ $badge_width }} height={{ $badge_height }}
                     alt="Webmention" class="pixelated">
            </a>
        {{ end }}
    {{ end }}

    {{ with .Site.Params.html5_validator }}
        <!-- HTML5 badge -->
        {{ $html5_validator_link := printf "https://html5.validator.nu/?doc=%s&showsource=yes" $permalink }}
        <a href="{{ $html5_validator_link }}">
            <img src="{{ (partial "asset.html" (dict "Site" $site "asset" "images/html5-css3-semantics-badge--scaled-optimized.png")) | absURL }}"
                 width="46" height="18" class="pixelated"
                 alt="HTML5 Powered with CSS3 / Styling, and Semantics"
                 title="HTML5 Powered with CSS3 / Styling, and Semantics">
        </a>
    {{ end }}
</div>
