{{ with .Site.GoogleAnalytics }}
    {{ "<!-- Google Analytics -->" | safeHTML }}
    <script>
     // https://stackoverflow.com/a/41065130/1219634
     if(navigator.userAgent.indexOf("Speed Insights") == -1) {
         window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date; // https://developers.google.com/analytics/devguides/collection/analyticsjs/#alternative_async_tracking_snippet
         ga('create', '{{ . }}', 'auto');
         ga('require', 'linkid'); // Enhanced Link Attribution - https://developers.google.com/analytics/devguides/collection/analyticsjs/enhanced-link-attribution
         ga('send', 'pageview');
     }
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    {{ "<!-- End Google Analytics -->" | safeHTML }}
{{ end }}
