<!-- http://microformats.org/wiki/h-card -->
<!-- Validator: https://waterpigs.co.uk/php-mf2/ -->
<!-- https://indiewebify.me/validate-h-card/ -->
<!-- h-entry validation: https://xray.p3k.io/ -->
<!-- authorship testing: https://sturdy-backbone.glitch.me/ -->
{{ $site := .Site }}
{{ with .Site.Author }}
    <div class="h-card">
        {{ with .photo }}
            <img class="u-photo"
                 {{- with $.Site.Author.name }} alt="Photo of {{ . }}"{{ end }}
                 src="{{ (partial "asset.html" (dict "Site" $site "asset" .url)) | absURL }}"
                 {{- with .width }} width="{{ . }}"{{ end -}}
                 {{- with .height }} height="{{ . }}"{{ end -}}>
        {{ end }}
        <!-- Below u-url link must match with the u-author link in h-entry blocks to link this h-card with them. -->
        <a class="p-name u-url" href="{{ $.Site.BaseURL }}">{{ with .name }}{{ . }}{{ end }}</a>
        {{ with .email }}
            <p>
                {{ printf `<a class="u-email" href="mailto:%s" rel="me">%s</a>` . . | safeHTML }}
            </p>
        {{ end }}
        {{ with .bio }}
            <p class="p-note">
                {{ . | markdownify }}
            </p>
        {{ end }}
    </div>
{{ end }}
