<!-- https://indieauth.com/setup -->
{{ printf `<!-- rel="me" links for IndieAuth -->` | safeHTML }}
{{ $.Scratch.Set "__relme_exists" false }}
{{ range $.Site.Params.social -}}
    {{- if .relme -}}
        {{- printf `<link href="%s" rel="me">` .link | safeHTML -}}
        {{ $.Scratch.Set "__relme_exists" true }}
    {{- end -}}
{{- end }}

{{ if ($.Scratch.Get "__relme_exists") }}
    <!-- https://www.amitgawande.com/indiewebify-hugo-website/ -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <!-- Token Endpoint: https://tokens.indieauth.com/ -->
    <!-- Needed to log into services like https://monocle.p3k.io/ -->
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
{{ end }}

{{ with .Site.Params.indieweb }}
    {{ $domain := .domain }}
    {{ with .webmention }}
        {{ printf `<link rel="pingback" href="%s%s/xmlrpc" />` .endpoint .account | safeHTML }}
        {{ printf `<link rel="webmention" href="%s%s/webmention" />` .endpoint .account | safeHTML }}
    {{ end }}
    {{ with .micropub }}
        {{ printf `<link rel="micropub" href="%s%s" />` $domain .url | safeHTML }}
    {{ end }}
{{ end }}
