<ul class="social no-text-decoration">
    {{ range .Param "social" }}
        <li>
            <a href="{{ .link }}" title="{{ .name }}">
                <!-- Example value of Params.social with "svg" key in site config.toml:
                     [[Params.social]]
                     name = "Mastodon"
                     link = "https://mastodon.technology/@kaushalmodi"
                     svg = "mastodon"      # map key in .Site.Data.svg, other value: mastodon-alt
                -->
                {{ with .svg }}
                    {{ with (index $.Site.Data.svg . ) }}
                        {{ . | safeHTML }}
                    {{ end }}
                {{ else }}
                    {{ $family := .family | default "fab" }}
                    {{ $size := .size | default "2x" }}
                    {{ $icon := .icon | default (.name | lower) }}
                    <i class="{{ $family }} fa-{{ $size }} fa-{{ $icon }}"></i>
                {{ end }}
            </a>
        </li>
    {{ end }}
</ul>
