{{ with .Site.Taxonomies }}
    <div class="taxo no-text-decoration">
        {{ range $taxo,$_ := . }} <!-- Defaults taxos: "tags", "categories" -->
            {{ with $.Page.Param $taxo }}
                <ul class="{{ printf "no-bullets inline %s" $taxo }}">
                    {{ range . }}
                        {{ $term := . }}
                        {{ $term_urlized := (. | urlize) }}
                        {{ with $.Site.GetPage "taxonomy" (printf "/%s/%s" $taxo $term_urlized) }}
                            <!-- Each "taxonomy" Kind page has .Data.FOO element.
                                 That FOO is the singular form of the taxo,
                                 like "tag" or "category".

                                 The .Data.FOO element is a slice of type hugolib.WeightedPages.
                                 It's basically a list of all pages that have the FOO taxo set
                                 to the same term as the current "taxonomy" Kind page's .Data.Term,
                                 i.e. the $term_urlized value above.

                                 The size/length of that slice can then be used to find out the
                                 total number of pages with the FOO taxo set to that .Data.Term.
                            -->
                            {{/* partial "debugprint.html" .Data */}}
                            {{/* partial "debugprint.html" (index .Data .Data.Singular) */}}
                            {{ $term_count := (len (index .Data .Data.Singular)) }}
                            <!-- The "__<taxo>__" are special classes used to search/replace in taxonomy.html. -->
                            <li class="{{ printf "__%s__" $term_urlized }}"
                                {{ $phrase := (index $.Site.Data.taxonomy.phrases .Data.Plural) | replaceRE "%T" (printf "‘%s’" $term) | replaceRE "%N" (printf "‘%s’" .Name) }}
                                {{ if (eq 1 $term_count) }}
                                title="{{ printf "This is the only post %s" $phrase }}"
                                {{ else }}
                                title="{{ printf "See all %d posts %s" $term_count $phrase }}"
                                {{ end }}
                            >
                                <a class="p-category" href="{{ .Permalink }}">{{ $term }}</a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            {{ end }}
        {{ end }}
    </div>
{{ end }}
