{{ define "main" }}

<div class="posts h-feed">
    <header>
        <!-- To complete the h-feed meta-data -->
        <data class="u-url" value="{{ .Permalink }}"></data>
        {{ partial "author.html" . }}
        <data class="p-name" value="{{ .Title }}"></data>
    </header>
    <!-- http://justindunham.net/blog-bells-and-whistles-in-hugo/ -->
    {{ range where (.Paginator 10).Pages "Type" "in" .Site.Params.mainSections }}
        {{ .Render "summary"}}      <!-- Use layouts/_default/summary.html -->
    {{ end }}
</div>

{{ end }}

{{ define "footer" }}

<div class="pagination no-text-decoration">
    {{ if .Paginator.HasPrev }}
        <a class="pagination-item newer" href="{{ .Paginator.Prev.URL }}">Newer</a>
    {{ else }}
        <span class="pagination-item newer">Newer</span>
    {{ end }}
    {{ if .Paginator.HasNext }}
        <a class="pagination-item older" href="{{ .Paginator.Next.URL }}">Older</a>
    {{ else }}
        <span class="pagination-item older">Older</span>
    {{ end }}
</div>

{{ if (eq 1 .Paginator.PageNumber) }}
    <!-- Receive Webmentions -->
    {{ partial "webmention_rcv.html" . }}
{{ end }}

{{ end }}
